
<footer>
  <div class="footer">
    <div class="f_l">
      <p>All Rights Reserved 版权所有：
        <a href="http://www.tthcclove.cn">bill个人博客</a> 备案号：陕ICP备17018883号</p>
    </div>
    <div class="f_r textr">
      <p>949277923</p>
    </div>
  </div>
</footer>