
<header>
  <div class="headtop"></div>
  <div class="contenttop">
    <div class="logo f_l">谈同个人博客♠★♠一个前端设计的热血青年</div>
    <div class="search f_r">
      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}"
          onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
        <input name="show" value="title" type="hidden">
        <input name="tempid" value="1" type="hidden">
        <input name="tbname" value="news" type="hidden">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="blank"></div>
    <nav>
      <div class="navigation">
        <ul class="menu">
          <li>
            <a href="/">网站首页</a>
          </li>
          <li>
            <a href="/about">关于我</a>
            <ul>
              <li>
                <a href="/about">个人简介</a>
              </li>
              <li>
                <a href="/listpic">个人相册</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/newslistpic">我的日记</a>
            <ul>
              <li>
                <a href="/newslistpic">个人日记</a>
              </li>
              <li>
                <a href="/newslistpic">学习笔记</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/404">技术文章</a>
          </li>
          <li>
            <a href="/404">给我留言</a>
          </li>
        </ul>
      </div>
    </nav>
    <SCRIPT type=text/javascript>
// Navigation Menu
$(function() {
$(".menu ul").css({display: "none"}); // Opera Fix
$(".menu li").hover(function(){
  $(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown("normal");
},function(){
  $(this).find('ul:first').css({visibility: "hidden"});
});
});
</SCRIPT>
  </div>
</header>