
<header>
  <div class="headtop"></div>
  <div class="contenttop">
    <div class="logo f_l">bill个人博客♠★♠一个前端设计的热血青年</div>
    <div class="search f_r">
        
          
      <form action="" method="post" name="loginForm" id="loginForm">
          <% if (session.username){%>
          <div id="signOut" style="float:right;">
            <%= session.username%>
            <a href="/signOut">退出</a>
          </div>  
          <% } else {%>
         <div id="signIn">
          <input name="username" id="username" class="input_text" value="" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入用户名'){this.style.color='#000';value=''}"
            onblur="if(value==''){this.style.color='#999';value='请输入用户名'}" type="text">
            <input type="password" name="password" id="password" class="input_text" value="" style="color: rgb(153, 153, 153); margin-top:10px;" onfocus="if(value=='请输入密码'){this.style.color='#000';value=''}"
            onblur="if(value==''){this.style.color='#999';value='请输入密码'}" >
          <input name="Submit" class="input_submit" id="login" value="登录" type="button">
        </div>   
        <% }%>
      </form>
    </div>
    <div class="blank"></div>
    <nav>
      <div class="navigation">
        <ul class="menu">
          <li>
            <a href="/">网站首页</a>
          </li>
          
          <li>
            <a href="/newslistpic">技术文章</a>
            <ul>
              <li>
                <a href="/newslistpic">个人日记</a>
              </li>
              <li>
                <a href="/newslistpic">学习笔记</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="https://github.com/hu949277923" target="_blank">github</a>
          </li>
          <li>
            <a href="https://juejin.im/user/59001b4f61ff4b00667fe6ec" target="_blank">掘金</a>
          </li>
          <!-- <li>
            <a href="/about">关于我</a>
            <ul>
              <li>
                <a href="/about">个人简介</a>
              </li>
              <li>
                <a href="/listpic">个人相册</a>
              </li>
            </ul>
          </li> -->
          <!-- <li>
            <a href="/404">技术文章</a>
          </li> -->
          <% if (session.username){ %> 
          <li>
            <a href="/addNews">发布资讯</a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>
    <SCRIPT type=text/javascript>

// $(function() {
// $(".menu ul").css({display: "none"}); // Opera Fix
// $(".menu li").hover(function(){
//   $(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown("normal");
// },function(){
//   $(this).find('ul:first').css({visibility: "hidden"});
// });
// });
$("#login").click(function() {
  var data = $("#loginForm").serializeArray();
    console.log(data)
    $.post('/api/signIn', data, function(res) {
      if (Object.prototype.toString.call(res) === '[object String]') {
        res = JSON.parse(res)
      }
      if (res.code == 200) {
        location.reload()
      } else {
        alert(res.message)
      }
    })
})
</SCRIPT>
  </div>
</header>